VITE_FIREBASE_API_KEY=AIzaSyB3O2sr6OHsXP0e7uH_KItIjLwV1TyKRLc
VITE_FIREBASE_AUTH_DOMAIN=variagrofoods.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=variagrofoods
VITE_FIREBASE_STORAGE_BUCKET=variagrofoods.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=785533914971
VITE_FIREBASE_APP_ID=1:785533914971:web:56e5213fe51dd824cc147e
VITE_FIREBASE_MEASUREMENT_ID=G-C23ZELR6K8
VITE_ADMIN_EMAILS=admin@variagrofoods.com
